/* Basic reset and body styling */
body {
    background: #42729b;
    margin: 0;
    padding: 0;
    color: #425279;
    font-family: 'Gochi Hand';
}

.container {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;    /* Vertical alignment */
    height: 100vh;  
}

.profile-container {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #ffffff; /* White background for profile */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

h1, h2, p, ul {
    text-align: center;
    margin-bottom: 20px;
}

ul { padding: 0;}

li { list-style: none; }

h1 {
    font-size: 1.5em;
    color: #425279; /* Dark text color */
}

#profile-photo {
animation-name: bounceDown;
animation-duration: 2s;
animation-iteration-count: 1; /* The animation will play 1 times */
animation-fill-mode: forwards;
margin: 0;
}

#profile-photo img {
    display: block;
    max-width: 300px;
    height: auto;
    border-radius: 50%; /* Rounded photo */
    border: 3px solid #ddd; /* Light border around photo */
    margin: 0 auto;
}

.bio , h2 {
    font-size: 1.2em;
    color: #425279; /* Medium gray text color */
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

a {
    color: #425279; /* Link color */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

.custom-cursor #bouncing-image {
    animation: animate 0.1s infinite;
}

@keyframes bounceDown {
    0% {
        transform: translateY(-50px); /* Start position */
        opacity: 0; /* Start as invisible */
    }
    50% {
        transform: translateY(25px); /* Middle position */
        opacity: 1; /* Visible */
    }
    100% {
        transform: translateY(0); /* End position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes animate{
    0%  { cursor: url('../img/cursor/0.gif'), auto; }   
    10% { cursor: url('../img/cursor/1.gif'), auto; }
    20% { cursor: url('../img/cursor/2.gif'), auto; }   
    30% { cursor: url('../img/cursor/3.gif'), auto; }
    40% { cursor: url('../img/cursor/4.gif'), auto; }
    50% { cursor: url('../img/cursor/5.gif'), auto; }   
    60% { cursor: url('../img/cursor/6.gif'), auto; }
    70% { cursor: url('../img/cursor/7.gif'), auto; }   
    80% { cursor: url('../img/cursor/8.gif'), auto; }
    90% { cursor: url('../img/cursor/9.gif'), auto; }
    100% { cursor: url('../img/cursor/0.gif'), auto; }

}

/* gochi-hand-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Gochi Hand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gochi-hand-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/gochi-hand-v23-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
